{% extends "base.html" %}

{% block title %}Cambiar contraseña{% endblock %}

{% set page_type = "form" %}

{% block body %}
<header class="form-header">
    <h1>Cambio de contraseña</h1>
    {% if messages|length > 0 %}
      {% for type,message in messages %}
        <span class="{{ type }}-message">{{ message }}</span>
      {% endfor %}
    {% else %}
      <span>Introduce tu vieja y nueva contraseña para continuar</span>
    {% endif %}
</header>
<form class="form" method="POST">
    <label for="old_password" class="form-label">Contraseña actual</label>
    <input name="old_password" type="password" class="input-box" required>
    <label for="new_password" class="form-label">Nueva contraseña</label>
    <input name="new_password" type="password" class="input-box" required>
    <label for="new_password_confirm" class="form-label">Confirmar contraseña</label>
    <input name="new_password_confirm" type="password" class="input-box" required>
    <input name="csrf_token" value="{{ csrf_token() }}" hidden>
    <button type="submit">Establecer contraseña</button>
</form>
{% endblock %}