@import url("normalize.css");
@import url("animations.css");
@import url("pages.css");

:root {
    --primary-color: #260650;
    --buttons-color: rgba(28, 7, 85, 0.9);
    --secondary-color: rgb(105, 105, 105);
    --hover-color: #178a7c;
    --shadow: #12024b;
}

body {
    font-family: Roboto, 'sans-serif';   
}

h1,h2,h3 {
    margin-bottom: 5px;
}

.error-message {
    color: rgb(201, 37, 37);
}

.success-message {
    font-weight: 500;
    color: rgb(22, 220, 82);
}

button, .link-button, .link {
    display: inline-block;
    transition: 500ms scale, 200ms box-shadow;
}

button, .link-button {
    background-color: var(--buttons-color);
    padding: 13px;
    text-align: center;
    border: none;
}

.text-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link {
    text-decoration: none;
    color: var(--secondary-color);
}

.link:hover, .link-button:hover {
    scale: 1.03;
    box-shadow: 1px 1px 15px var(--primary-color);
}

#background-img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("/static/img/1.jpg");
    background-size: cover;
    filter: blur(4px);
}

.paragraph {
    white-space-collapse: preserve-breaks;
}

#dropdown-menu {
    display: inline-block;
    padding: 0px;
    margin: 0px;

    .dropdown-links {
        position: absolute;
        z-index: 1;
        transition: all 300ms allow-discrete;
        display: none;
        opacity: 0;

        a {
          display: block;
          padding: 5px 0px;
          border: solid 1px;
          background-color: #260650;
        }
    }

    .dropdown-menu-span {
        transition: background-color 300ms;
    }

    &:hover .dropdown-links {
        display: block;
        opacity: 1;
    }
}

.navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 20px 20px;
    gap: 10px;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);

    a {
        text-decoration: none;
        color: inherit;
    }

    .navbar-elements {
        display: flex;
        gap: 10px;
        justify-content: end;
        width: 88%;
    }
}

.box-warning {
    background-color: var(--primary-color);
    border-radius: 5px;
    color: yellow;
    margin: auto;
    padding: 5px;
}

