#content-text {
    margin-left: 25px;
    margin-right: 25px;
    display: grid;
    grid-template: 
                 "header header header" 100px
                 "content  content  content" max-content
                 "content  content  content" max-content;
    column-gap: 25%;

    .text-header {
        grid-area: header;
        text-align: center;
    }

    .text-main {
        grid-area: content;
        display: flex;
        justify-content: center;
        gap: 15%;
    }

    .link-button {
        justify-self: end;
    }
}

#content-form {
    .content-header {
        text-align: center;
        margin-bottom: 30px;
        width: fit-content;
        margin: auto;
        width: 50vw;
    }

    .form {
        margin: auto;
        width: min-content;
        padding: 24px;
    }

    .form-label {
        opacity: 0.7;
        position: relative;
    }

    .form-input {
        display: block;
        margin-bottom: 20px;
        border: solid 2px;
        border-color: var(--buttons-color);
        transition: border-color 100ms;
    }

    .form-input:focus {
        outline: none;
        border-color: var(--hover-color)
    }
}
