#content-text {
    margin-left: 25px;
    margin-right: 25px;
    display: grid;
    grid-template: 
                 "header header header" 100px
                 "content  content  content" max-content
                 "content  content  content" max-content;
    row-gap: 5%;

    .text-header {
        grid-area: header;
        text-align: center;
    }

    .text-main {
        grid-area: content;
        display: flex;
        justify-content: center;
        gap: 10%;
    }
}

#content-form {
    .form-header {
        text-align: center;
        margin-bottom: 30px;
        width: fit-content;
        margin: auto;
        width: 50vw;
    }

    .form {
        margin: auto;
        width: min-content;
        display: flex;
        flex-direction: column;
        padding: 24px;
    }

    .form-row {
        display: flex;
        justify-content: center;
        gap: 25px;
        padding: 24px;
    }

    .form-label {
        opacity: 0.7;
        position: relative;
    }

    input, button {
        margin-bottom: 20px;
    }

    .input-box {
        display: block;
        border: solid 2px;
        border-color: var(--buttons-color);
        transition: border-color 100ms;
    }

    .input-box:focus {
        outline: none;
        border-color: var(--hover-color)
    }
}

#content-table {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding-top: 20px;

    table {
        margin: 4px 32px;
        background-color: var(--tables-background);
        border-radius: 4px;

        thead {
            background-color: var(--hover-color);
        }

        th, td {
            padding: 15px;
        }
    }

    footer button {
        margin: 5px;
    }
}