{% extends "base.html" %}
{% block title %}
Administración
{% endblock %}

{% set page_type = "text" %}

{% block body %}
<header class="text-header">
  <h1>Administración</h1>
</header>
<main class="text-main">
  <div class="column-container ">
    <p>En esta sección podrá ajustar la web y editar sus datos</p>
    <div data-href="settings" class="link-button">Ajuste de la aplicación</div>
    <div data-href="payments" class="link-button">Ver pagos realizados</div>
    <div data-href="users" class="link-button">Ver usuarios registrados en el sistema</div>
  </div>
</main>
{% endblock %}