{% extends "base.html" %}
{% block title %}
Acerca de la web
{% endblock %}

{% set page_type = "text" %}

{% block body %}
<header class="content-header">
    <h1>Acerca de la aplicación</h1>
</header>
<div class="text">
    <p>
        Esta aplicación está programada en el lenguaje Python utilizando el marco de desarrollo Flask para 
        proveer el servidor web. En el stack del frontend se utilizó CSS y JavaScript junto con la libreria
        AOS.js.
    </p>
    <div data-href="" class="link">Volver</div>
</div>
{% endblock %}