{% set role = get_session_data("role") %}
<nav class="navbar">
    <a href="/">Página principal</a>
    <div class="navbar-elements">
    {% if role != "" %}
      <a href="/payment">Cuotas</a>
    {% if role == "admin" %}
      <a href="/admin">Administración</a>
    {% endif %}
      <menu id="dropdown-menu">
        <span class="dropdown-menu-span">Usuario</span>
        <div class="dropdown-links">
            <div class="link-button" data-href="/account/profile">Perfil</div>
            <div class="link-button" data-href="/account/change_password">Cambiar contraseña</div>
            <div class="link-button" data-href="/account/logout">Cerrar sesión</div>
        </div>
      </menu>
    {% else %}
      <a href="/account/login">Iniciar sesión</a>
      <a href="/account/register">Registrarse</a>
    {% endif %}
    </div>
</nav>