{% set role = get_session_data("role") %}
<nav class="navbar">
    <a href="/">Página principal</a>
    <div class="navbar-elements">
    {% if role != "" %}
      <a href="/payment" class="link">Cuotas</a>
    {% if role == "admin" %}
      <a href="/admin" class="link">Administración</a>
    {% endif %}
      <menu id="dropdown-menu">
        <span class="dropdown-menu-span">{{ get_session_data("fname") }} {{ get_session_data("sname") }}</span>
        <div class="dropdown-links">
            <a href="/account/profile" class="link">Perfil</a>
            <a href="/account/logout" class="link">Cerrar sesión</a>
        </div>
      </menu>
    {% else %}
      <a href="/account/login" class="link">Iniciar sesión</a>
      <a href="/account/register" class="link">Registrarse</a>
    {% endif %}
    </div>
</nav>