{% extends "base.html" %}
{% block title %}
Pago realizado
{% endblock %}

{% set page_type = "text" %}

{% block body %}
<header class="text-header">
    <h1>Pago completado</h1>
</header>
<main class="text-main">
    <div class="column-container" style="width: 50%;">
      <p>
        Hemos recibido la información. Si hiciste un pago manual, 
        cuando un administrador la revise te lo haremos saber por correo.
      </p>
      <div class="link-button" data-href="/">Volver a la página principal</div>
    </div>
</main>
{% endblock %}