<header>
    <h1>Asistente de pagos</h1>
</header>
<main>
    <span>Hola, {{ username }}</span>
    <p>
        El recibo de tu pago con ID {{ payment_id }} ha sido rechazado.
        La razón fue la siguiente: {{ reason }}
    </p>
    <span>Si hay algún error, contacta con el instituto.</span>
</main>
<footer>
    <span>Enviado por PaymentAssistant</span>
</footer>
<style>
    * {
        font-family: sans-serif;
    }

    p {
        white-space-collapse: preserve-breaks;
    }

    header, main {
        text-align: center;
    }

    main {
        padding: 14px;
    }

    header {
        padding: 6px;
        background-color: #260650;
    }

    footer {
        font-style: italic;
        font-weight: 500;
        padding: 10px;
    }
</style>