<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
    <div class="header">
        <h3>Pago de cuotas</h3>
    </div>
    <div class="content">
        <p>Hola, estimado estudiante</p>
        <p>Le enviamos este correo para notificarle que hoy es la fecha del pago de la cuota número {{ count }} 
            y que debe pagarla ya que si no, no podrá entrar a la universidad.</p>
        
        <a href="{{ url }}" class="btn">Haz click aquí para ir a pagarla</a>
    </div>
    <div class="footer">
        <p>PaymentAssistant</p>
    </div>
</body>
</html>