<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
    <div class="header">
        <h3>Reinicio de contraseña</h3>
    </div>
    <div class="content">
        <p>Parece que has pedido desde el sitio web del asistente de pagos un enlace para reiniciar tu contraseña.</p>
        <p>Si no has sido tú, por favor ignora este correo.</p>
        
        <a href="{{ url }}" class="btn">Haz click aquí para reiniciar tu contraseña</a>
    </div>
    <div class="footer">
        <p>PaymentAssistant</p>
    </div>
</body>
</html>