<header>
    <h1>Asistente de pagos</h1>
</header>
<main>
    <p>Parece que has pedido desde el sitio web del asistente de pagos un enlace para reiniciar tu contraseña.</p>
    <p>Si no has sido tu, por favor ignora este correo.</p>
        
    <a href="{{ url }}">Haz click aquí para reiniciar tu contraseña</a>
</main>
<footer>
    <p>Enviado por PaymentAssistant</p>
</footer>
<style>
    * {
        font-family: sans-serif;
    }

    p {
        white-space-collapse: preserve-breaks;
    }

    header, main {
        text-align: center;
    }

    main {
        padding: 14px;
    }

    header {
        padding: 6px;
        background-color: #260650;
    }

    footer {
        font-style: italic;
        font-weight: 500;
        padding: 10px;
    }
</style>
